
<%= render "shared/header" %>
<div class="container">

  <div class="search-form">
    <%= form_with(url: search_character_moves_path, local: true, method: :get, class:"form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードで検索する", class: "search-input" %>
      <button type=submit class="search-btn">
        <i class="fas fa-search"><% form.submit "検索"%></i>
      </button>
    <% end %>
  </div>

  <div class="back-btn">
    <%=link_to "技Top画面", character_moves_path, class:"back" %>
  </div>

  <div class="character-name">
    <%= @character.name %>
  </div>

  <table class="moves-data">
    <tr>
      <th class="moves_name">技名</th>
      <th class="command">コマンド</th>
      <th class="damage">ダメージ</th>
      <th class="startup">発生F</th>
      <th class="block">ガードF</th>
    </tr>
    <% @moves.each do |moves| %>
      <tr class="moves-info">
        <td class="moves_name"><%=link_to moves.moves_name, "#", class: "name-link" %></td>
        <td class="command"><%= moves.command %></td>
        <td class="damage"><%= moves.damage %></td>
        <td class="startup"><%= moves.startup %></td>
        <td class="block"><%= moves.block %></td>
      </tr>
    <% end %>
  </table>

  <a href="#" class="page-top">PAGE TOP▲</a>

</div>
<%= render "shared/footer" %>