<<<<<<< Updated upstream
<div class="moves-main">
  <table>
    <tr>
      <th>技名</th>
      <th>コマンド</th>
      <th>ダメージ</th>
      <th>発生F</th>
      <th>ガードF</th>
    </tr>
    <% @moves.each do |moves| %>
      <tr>
        <td><%=link_to moves.moves_name, "#", class: "name-link" %></td>
        <td><%= moves.command %></td>
        <td><%= moves.damage %></td>
        <td><%= moves.startup %></td>
        <td><%= moves.block %></td>
      </tr>
    <% end %>
  </table>
</div>
=======
<div class="moves">
  <div class="profile">
    プロフィール
  </div>

  <div class="all_moves">
  <table>
    <thead>
      <tr>
        <th>技名</th>
        <th>コマンド</th>
        <th>ダメージ</th>
        <th>発生F</th>
        <th>ガード時F</th>
        <%# <th colspan="3"></th> %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>最速右回し突き</td>
        <td>6☆23RP</td>
        <td>25</td>
        <td>11</td>
        <td>+5</td>
      </tr>
    </tbody>
  </table>
</div>
<% earchdo%>
>>>>>>> Stashed changes
