<!DOCTYPE html>
<html>
  <head>
    <title>TekkenFrame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
          var pageTop = $('.page-top');
          pageTop.hide();
          $(window).scroll(function () {
              if ($(this).scrollTop() > 100) {
                  pageTop.fadeIn();
              } else {
                  pageTop.fadeOut();
              }
          });
          pageTop.click(function () {
              $('body, html').animate({scrollTop:0}, 500, 'swing');
              return false;
          });
      });
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
